* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.monitor-container {
  display: flex;
  flex-direction: row;
  margin-top: 7rem;
  position: relative;
  flex-basis: 50%;
  justify-content: center;
//   padding: 2rem;
  /* min-height: 100vh; */
  /* min-width: 100vw; */
  gap: 10rem;

  .back-img {
    position: absolute;
    height: 11rem;
    z-index: -1;
    left: 0;
    top: 0;
  }

  .m-c-left {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    gap: 2rem;
    width: 100%;

    & h3 {
      font-size: 3.5rem;
      // width: 50rem;
      text-align: left;

      & span {
        color: #da001a;
      }
    }

    & svg {
      // align-self: end;
      // padding-right: 9rem;
      width: 100%;
    }

    & p {
      text-align: left;
      font: normal normal normal 22px/38px Manrope;
      letter-spacing: 0.7px;
      color: #000000;
      opacity: 1;
      // width: 50%;
      line-height: 1.4;
    }

    & button{
        border: none;
        background: #E2495B;
        color: #fff;
        border-radius: .6rem;
        width: 26.3rem;
        height: 6.1rem;
        font-size: 2rem;
    }
  }
  .m-c-right {
    align-self: center;
    overflow: hidden;

    & img {
      width: 98rem;
      height: 50rem;
    }
  }
}
